<footer class="footer mt-auto py-3 bg-light text-black fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nós</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-4">
        <h5>Links Úteis</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Início</a></li>
          <li><a href="#" class="text-white">Filmes</a></li>
          <li><a href="#" class="text-white">Pedidos</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contato</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-envelope"></i> contato&#64;locadora.com</li>
          <li><i class="bi bi-telephone"></i> (11) 1234-5678</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p class="mb-0">&copy; 2024 Meu Projeto Angular. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
