    <p>Fazerpedido works!</p>

    <div class="container">
        <h1>Fazer pedido</h1>
        <form>
            <div class="form-group">
                <label for="filme">Filme</label>
                <input type="text" class="form-control" id="filme" placeholder="Nome do filme">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
                <button type="submit" class="btn btn-dark">Fazer pedido</button>
            </div>
        </form>
    </div>

